.container {
  display: flex;
}

.container.reverse {
  flex-direction: row-reverse;
}

.item {
  position: relative;
}

.count {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  color: var(--color);
  background: var(--bg);
}
