.container {
  --grid-gap: 0.5rem;

  background: var(--black-60);
  display: grid;
  grid-template: auto auto / auto;
  gap: var(--grid-gap);
  width: fit-content;
  padding: 0.25rem;
}

.topRow {
  display: grid;
  gap: var(--grid-gap);
  grid-template: "portrait . inventory" auto / auto 1fr auto;
  align-items: stretch;
}

.portrait {
  grid-area: portrait;
}

.inventory {
  grid-area: inventory;
}

.reverse .topRow {
  grid-template-areas: "inventory . portrait";
}

.experienceBar {
  --progress-color: var(--experience-color);
  box-shadow: 0px 0px 8px -1px var(--experience-color);
}

.progressBackground {
  background: var(--white-20);
}
