.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.progress {
  padding: 0.0625rem;
  background: var(--gray-1);
}

.progressBar {
  --progress-color: var(--team-color);
  box-shadow: 0px 0px 8px -1px var(--team-color);
}

.progressBackground {
  height: 0.25rem;
  background: var(--black-60);
}
