.container {
  display: flex;
  flex-direction: column-reverse;
}

.hero {
  display: grid;
  grid-template:
    "portrait level inventory" 2fr
    "abilities abilities inventory" 1fr / 1fr 1fr 1fr;
  gap: 0;
  margin-bottom: 10px;
}

.reverse .hero {
  grid-template:
    "inventory level portrait" 2fr
    "inventory abilities abilities " 1fr / 1fr 1fr 1fr;
}

.portrait {
  grid-area: portrait;
  object-fit: contain;
  width: 100%;
}

.level {
  grid-area: level;
  background: var(--bg-translucent);
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.levelProgress {
  position: relative;
}

.levelProgressBackground {
  color: var(--bg-translucent);
  display: block;
}

.levelProgressForeground {
  color: var(--experience-color);
  position: absolute;
  left: 0;
  top: 0;
}

.levelLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.levelLabel > div {
  height: 48px;
}

.abilities {
  grid-area: abilities;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.abilities img {
  object-fit: contain;
  width: 100%;
}

.inventory {
  grid-area: inventory;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.inventory img {
  object-fit: contain;
  width: 100%;
}
