.container {
  display: flex;
  width: 100%;
  background: var(--black-60);
  overflow: hidden;
  justify-content: flex-start;
}

.rightColumn {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  padding: 0.125rem;
  display: flex;
  flex-direction: column;
}

.label {
  height: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 0.75rem;
  line-height: 100%;
  color: var(--text-color);
}

.progressBackground {
  height: 50%;
  position: relative;
  width: 100%;
  background: var(--white-20);
}

.progressForeground {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--team-color);
  box-shadow: 0px 0px 4px 1px var(--team-color);
  height: 100%;
}
