.grid {
  --cell-size: 2rem;

  display: grid;
  grid-template: repeat(3, var(--cell-size)) / repeat(2, var(--cell-size));
  align-items: center;
  justify-items: center;
  justify-self: center;
  width: fit-content;
}

.backpackIcon {
  width: 1.5rem;
  height: 1.5rem;
}
