.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-end;
  gap: 10px;
}

.container.reverse {
  justify-content: flex-start;
}

.icon {
  width: 32px;
  margin-right: 5px;
}

.resourceContainer {
  display: flex;
  align-items: center;

  background: var(--bg-translucent);
  color: var(--color);
  border-radius: var(--border-radius);
  padding: var(--padding);
}
