.container {
  --height: 3rem;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.container.reverse {
  flex-direction: row-reverse;
}

.population {
  box-sizing: border-box;
  height: 2.5rem;
  padding: 0.125rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unitCount {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem 0.5rem;
  min-width: 1.5rem;

  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1em;
}

.unitCount > svg {
  width: 1rem;
  height: 1rem;
  color: var(--gray-3);
  margin-right: 0.5rem;
}

.raceEmblemContainer {
  max-height: 2.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.raceEmblem {
  display: block;
  width: var(--height);
  height: var(--height);
  margin-top: 0.125rem;
}
