.container {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.heroes {
  margin-top: -0.25rem;
}

.rightSide .heroes {
  align-self: flex-end;
}

.researchAndProduction {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 14.375rem;
}

.leftSide .researchAndProduction {
  align-self: flex-start;
}

.rightSide .researchAndProduction {
  align-self: flex-end;
}

.production {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.0625rem;
}

.production > div {
  margin-right: 0.0625rem;
}

.reverse .production {
  flex-direction: row-reverse;
}
