.container {
  height: 100%;
  display: grid;
  grid-template:
    [header] "header header header header header" max-content
    [body] "heroLeft upgradesLeft . upgradesRight heroRight" 1fr
    [footer] "footerLeft . . . footerRight" 250px / 250px 1fr 120px 1fr 250px;
  gap: 10px 0;
}

.header {
  grid-area: header;
}

.heroLeft {
  grid-area: heroLeft;
}

.heroRight {
  grid-area: heroRight;
}

.upgradesLeft {
  grid-area: upgradesLeft;
}

.upgradesRight {
  grid-area: upgradesRight;
}

.production {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}

.productionLeft {
  grid-area: footerLeft;
}

.productionRight {
  grid-area: footerRight;
  justify-content: flex-end;
}
