.container {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.heroes {
  margin-top: -0.25rem;
}

.rightSide .heroes {
  align-self: flex-end;
}

.production {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  width: 14.375rem;
}

.leftSide .production {
  align-self: flex-start;
}

.rightSide .production {
  align-self: flex-end;
}

.upgradesLeft {
  grid-area: upgradesLeft;
}

.upgradesRight {
  grid-area: upgradesRight;
}
