.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--bg-translucent);
}

.container > img {
  width: 32px;
}

.level {
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 1px;

  display: grid;
  gap: 2px;
}

.slot {
  height: 4px;
}

.active {
  background: var(--experience-color);
  box-shadow: 0 -4px 2px -2px rgb(0 0 0 / 60%) inset;
}
